<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoniTin System Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
    <header>
        <h1>MoniTin System Dashboard</h1>
        <a href="#" class="logout">LOGOUT</a>
    </header>

    <div class="main-container">
        <!-- Left Sidebar -->
        <aside class="sidebar">
            <ul>
                <li><a href="#">Upload Domains</a></li>
                <li><a href="#">Add Domain</a></li>
                <li><a href="setting">Settings</a></li> <!-- Link to Settings Page -->
            </ul>
        </aside>

        <!-- Main Dashboard Content -->
        <main class="dashboard-content">
            <div class="container">
                <div class="card">
                    <h3>Liveness Status</h3>
                    <div class="chart">Chart Placeholder</div>
                </div>

                <div class="card">
                    <h3>SSL Expiration Date</h3>
                    <div class="chart">Chart Placeholder</div>
                </div>

                <div class="card">
                    <h3>SSL Issuer</h3>
                    <div class="chart">Chart Placeholder</div>
                </div>
            </div>
        </main>
    </div>

    <footer>
        <p>MoniTin System Dashboard © 2024</p>
    </footer>
    <script src="static/DomainsService.js"></script>
    <script src="static/dashboardPage.js"></script>
</body>
</html>
