<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain Monitor Login</title>
    <link rel="stylesheet" href="static/css/loginPage.css">
    <link rel="stylesheet" href="static/css/socialComponent.css">
    <meta name="Referrer-Policy" content="no-referrer-when-downgrade">
</head>
<body>
    <div id="login_options_container">
        <div class="login-container">
            <div class="brand-header">
                <img src="static/images/logo.png" alt="Domain Monitor Logo" class="logo">
                <h1>Domain Monitor System</h1>
            </div>
            <form id="login-form">
                <h2>Login</h2>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="login-btn">Login</button>
            </form>
            <div class="register-prompt">
                <p>Don't have an account? <a href="registerPage">Register here</a></p>
            </div>
            <footer>
                <p>&copy; 2024 MoniTin. All Rights Reserved.</p>
            </footer>
        </div>
    
        <div id="socials_buttons_container">
            <div id="google_login_button"></div>
        </div>
    </div>

    <script src="https://apis.google.com/js/api.js" defer></script>
    <script src="https://accounts.google.com/gsi/client" defer></script>  

    <script src="static/js/services/EnvVariablesService.js" defer></script>
    <script src="static/js/services/LocalStorageService.js" defer></script>
    <script src="static/js/services/LoginService.js" defer></script>
    <script src="static/js/socialComponent.js" defer></script>
    <script src="static/js/loginPage.js" defer></script>

    <script type="text/javascript" defer>
         window.onload = function() {
            const BACKEND_URL = '{{ BACKEND_URL }}'
            EnvVariablesService.getInstance().backendUrl = BACKEND_URL
         }
    </script>
</body>
</html>
