<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/register.css">
</head>
<body>
    <div class="register-container">
        <div class="brand-header">
            <img src="static/images/logo.png" alt="Domain Monitor Logo" class="logo">
            <h1>Domain Monitor System</h1>
        </div>
        <form id="register-form">
            <h2>Register</h2>
            <div class="input-group">
                <label for="new-username">Username</label>
                <input type="text" id="username" name="username" placeholder="Choose a username" required>
            </div>
            <div class="input-group">
                <label for="new-password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter a password" required>
            </div>
            <button type="submit" class="register-btn">Register</button>
        </form>
        <footer>
            <p>&copy; 2024 MoniTin. All Rights Reserved.</p>
        </footer>
    </div>

    <script src="static/EnvVariablesService.js"></script>
    <script src="static/LocalStorageService.js"></script>
    <script type="text/javascript">
        EnvVariablesService.getInstance().backendUrl = '{{ BACKEND_URL }}'
    </script>
    <script src="static/RegisterService.js"></script>
    <script src="static/registerPage.js"></script>
</body>
</html>
