<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/css/registerPage.css">
    <link rel="stylesheet" href="static/css/socialComponent.css">
</head>
<body>

    <div id="login_options_container">
        <div class="login-container">
            <div class="brand-header">
                <img src="static/images/logo.png" alt="Domain Monitor Logo" class="logo">
                <h1>Domain Monitor System</h1>
            </div>
            <form id="login-form">
                <h2>Register</h2>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="login-btn" id="reg-btn"  >Register</button>
            </form>
            <div class="login-prompt">
                <p>Already Registered ? <a href="/">Login Here</a></p>
            </div>
            <footer>
                <p>&copy; 2024 MoniTin. All Rights Reserved.</p>
            </footer>
        </div>
    
        <div id="socials_buttons_container">
            <div id="google_login_button"></div>
            <img src="/static/images/gmail_icon.png" alt="">
        </div>
    </div>

    <script src="https://apis.google.com/js/api.js" defer></script>
    <script src="https://accounts.google.com/gsi/client" defer></script>

    <script src="static/js/globals/EnvVariablesHandler.js" defer></script>
    <script src="static/js/services/LocalStorageService.js" defer></script>
    <script src="static/js/services/LoginService.js" defer></script>
    <script src="static/js/socialComponent.js" defer></script>
    <script src="static/js/services/RegisterService.js" defer></script>
    <script src="static/js/registerPage.js" defer></script>

    <script type="text/javascript" defer>
        window.onload = function() {
            const BACKEND_URL = '{{ BACKEND_URL }}'
            EnvVariablesHandler.getInstance().backendUrl = BACKEND_URL
         }
    </script>
</body>
</html>
